@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


.mickeySays {
  display:inline-block;
  background-color: white;
  padding: 8px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Architects Daughter', cursive;
}

.intro-row {
  width: 100%;
  padding-top: 160px;

}

.mickeyWhole {
  max-height: 160px;
  max-width: 160px;
}

.mickey {
  max-height: 90px;
  max-width: 90px;
}


