.navbar {
  background-color:azure;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.mickey-black {
  max-height: 50px;
  max-width: 50px;
}

h1 {
  font-size: 3em !important;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
}

